// Media breakpoints UP (min-width)
@mixin media-breakpoint-up($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: $xs) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (min-width: $sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $xl) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media (min-width: $xxl) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found";
  }
}

// Media breakpoints down (max-width)
@mixin media-breakpoint-down($breakpoint) {
  @if $breakpoint ==xs {
    @media (max-width: $xs) {
      @content;
    }
  }

  @else if $breakpoint ==sm {
    @media (max-width: $sm) {
      @content;
    }
  }

  @else if $breakpoint ==md {
    @media (max-width: $md) {
      @content;
    }
  }

  @else if $breakpoint ==lg {
    @media (max-width: $lg) {
      @content;
    }
  }

  @else if $breakpoint ==xl {
    @media (max-width: $xl) {
      @content;
    }
  }

  @else if $breakpoint ==xxl {
    @media (max-width: $xxl) {
      @content;
    }
  }

  @else {
    @warn "Breakpoint #{$breakpoint} not found";
  }
}
