.auth {
  --auth-container-max-width: 500px;

  &__container {
    max-width: var(--auth-container-max-width);
    margin: auto;
  }

  &__layout {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    margin: auto;

    @include media-breakpoint-up(lg) {
      gap: 40px;
    }
  }

  &__form {
    width: 100%;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__actions {
    display: flex;
    gap: 10px;
    width: 100%;
  }
}
