.banner {
  --banner-title-color: var(--c-text-color-1, , #666);
  --banner-subtitle-color: var(--c-text-color-1, , #666);
  --banner-bg-color: var(--c-bg-color-9);
  --banner-offset-y: var(--c-section-offset-block);

  &__container {
    background-image: var(--banner-bg-img, none);
    background-size: cover;
    background-position: center;
    background-repeat: var(--banner-container-bg-repeat, no-repeat);
  }

  &__title {
    text-wrap: balance;
    color: var(--banner-title-color);
  }

  &__subtitle {
    opacity: 0.9;
    color: var(--banner-subtitle-color);
  }

  &--offset-top {
    margin-top: var(--banner-offset-y);
  }

  &--offset-bottom {
    margin-bottom: var(--banner-offset-y);
  }
}
