.button {
  @include font(16px, 16px);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: var(--button-padding);
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  cursor: pointer;
  box-shadow: var(--button-box-shadow);
  transition-property: transform, opacity, color, background-color, border-color,
    fill, stroke, box-shadow, padding;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-timing-function;

  &:disabled,
  &._disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &--circle {
    border-radius: 50%;
  }

  &--size-medium {
    --button-padding: 8px;

    @include media-breakpoint-up(lg) {
      --button-padding: 12px;
    }

    @include media-breakpoint-up(xl) {
      --button-padding: 20px;
    }
  }

  &--theme-light-outline {
    --button-bg-color: var(--c-bg-color-9);
    --button-border-color: var(--c-border-color-9);
    --button-color: var(--c-text-color-1);
  }

  &--lift {
    @include hover {
      --button-box-shadow: var(--c-box-shadow-3);

      transform: scale(1.03);
    }

    &:active {
      --button-box-shadow: var(--c-box-shadow-4);

      transform: scale(0.97);
    }
  }

  &--2 {
    --button-padding: 20px 40px;
    --button-bg-color: transparent;
    --button-color: #a8bfef;
    --button-border-color: #a8bfef;
    border-radius: 12px;
    border-width: 3px;
  }
}
