.button {
  @include font(16px, 16px, 400, $basic-family);

  display: inline-flex;
  aspect-ratio: var(--button-aspect-ratio, auto);
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: var(--button-width, fit-content);
  max-width: 100%;
  height: fit-content;
  padding: var(--button-padding);
  color: var(--button-color);
  flex-shrink: 0;
  background-color: var(--button-bg-color);
  border: var(--button-border-width, 1px) var(--button-border-style, solid) var(--button-border-color, transparent);
  border-radius: var(--button-border-radius, 0);
  cursor: pointer;
  box-shadow: var(--button-box-shadow);
  transition-property: transform, opacity, color, background-color, border-color,
    fill, stroke, box-shadow, padding;
  transition-duration: $animation-speed;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  &:disabled,
  &._disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--lifted {
    @include hover {
      --button-box-shadow: var(--c-shadow-4);

      transform: scale(1.03);
    }

    &:active {
      transform: scale(0.97);
      --button-box-shadow: var(--c-shadow-4) inset;
    }
  }

  &--size-sm {
    --button-padding: 8px 16px;
    --button-border-radius: 4px;
    --button-border-width: 1px;

    @include font(14px, 14px, 400, $basic-family);
  }

  &--size-md {
    --button-padding: 12px 24px;
    --button-border-radius: 6px;
    --button-border-width: 1px;

    @include font(16px, 16px, 400, $basic-family);
  }

  &--size-lg {
    --button-padding: 16px 32px;
    --button-border-radius: 12px;
    --button-border-width: 2px;

    @include font(18px, 18px, 400, $basic-family);
  }

  &--theme-primary {
    --button-bg-color: var(--c-bg-color-8);
    --button-color: var(--c-text-color-1);
    --button-border-color: var(--c-bg-color-8);
  }

  &--theme-secondary {
    --button-bg-color: var(--c-success-color);
    --button-color: var(--c-text-color-1);
    --button-border-color: var(--c-success-color);
  }

  &--theme-danger {
    --button-bg-color: var(--c-error-color);
    --button-color: var(--c-text-color-1);
    --button-border-color: var(--c-error-color);
  }

  &--theme-outline {
    --button-bg-color: transparent;
    --button-color: var(--c-text-color-1);
    --button-border-color: var(--c-border-color-9);
  }

  &--theme-outline-inverted {
    --button-bg-color: var(--c-bg-color-1);
    --button-color: var(--c-text-color-10);
    --button-border-color: var(--c-border-color-8);
  }

  &--theme-ghost {
    --button-bg-color: transparent;
    --button-color: var(--c-text-color-10);
    --button-border-color: transparent;
  }

  &--shape-circle {
    border-radius: 50%;
    padding: 0;
    width: 44px;
    height: 44px;
  }

  &--wide {
    --button-width: 100%;
  }

  &--close {
    --button-aspect-ratio: 1 / 1;
    --button-width: 32px;
    --button-bg-color: var(--c-bg-color-9);
    --button-padding: 0;

    position: relative;
    border-radius: 30%;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      border-radius: max(1px, calc(var(--button-width) * 0.06 / 2));
      height: max(1px, calc(var(--button-width) * 0.06));
      background-color: white;
      transition-duration: $animation-speed;
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}