.field {
  // border
  --field-border-color: transparent;
  --field-border-focus-color: var(--c-text-color-9);
  --field-border-error-color: var(--c-error-color);

  // message
  --field-message-color: var(--c-text-color-2);
  --field-message-error-color: var(--c-error-color);

  //label
  --field-label-color: var(--c-text-color-1);

  // action
  --field-action-color: var(--c-text-color-10);

  &__label {
    @include font(14px, 14px, 500);

    display: block;
    margin-bottom: 6px;
    color: var(--field-label-color);
  }

  &__input-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid var(--field-border-color);
    border-radius: 12px;
    transition: border-color 0.3s;
    overflow: hidden;

    &:focus-within {
      outline: none;
      border-color: var(--field-border-focus-color);
    }

    @include hover {
      border-color: var(--field-border-focus-color);
    }
  }

  &__input {
    @include font(16px, 18px);

    width: 100%;
    padding: 12px 16px 12px;
    border: 1px solid transparent;

    &:focus {
      outline: none;
    }
  }

  &__actions {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__action {
    @include font(24px, 24px);

    height: 100%;
    aspect-ratio: 1;
    border: none;
    color: var(--field-action-color);
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    opacity: 1;
    outline-offset: -3px;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__message {
    @include font(12px, 12px, 500);

    display: block;
    color: var(--field-message-color);
    margin-top: 4px;
    min-height: 1lh;
  }

  &--error {
    --field-border-color: var(--field-border-error-color);
    --field-message-color: var(--c-error-color);
  }
}
