.field {
  // border
  --field-border-color: transparent;
  --field-border-focus-color: var(--c-text-color-9);
  --field-border-error-color: var(--c-error-color);

  // hint
  --field-hint-color: var(--c-text-color-2);
  --field-hint-error-color: var(--c-error-color);

  //label
  --field-label-color: var(--c-text-color-1);

  // action
  --field-action-color: var(--c-text-color-10);

  &__label {
    @include font(14px, 14px, 500);

    display: block;
    margin-bottom: 6px;
    color: var(--field-label-color);
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    @include font(16px, 18px);

    width: 100%;
    padding: 12px 40px 12px 16px;
    border: 1px solid var(--field-border-color);
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s;

    @include hover {
      border-color: var(--field-border-focus-color);
    }

    &:focus {
      outline: none;
      border-color: var(--field-border-focus-color);
    }
  }

  &__actions {
    background-color: blue;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__action {
    @include font(24px, 24px);

    height: 100%;
    aspect-ratio: 1;
    background: none;
    border: none;
    color: var(--field-action-color);
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__hint {
    @include font(12px, 12px, 500);

    display: block;
    color: var(--field-hint-color);
    margin-top: 4px;
    min-height: 1lh;
  }

  &--error {
    --form-border-color: var(--field-border-error-color);
    --form-field-hint-color: var(--c-error-color);
  }
}
