.form {
  --form-layout-gap: 8px;

  @include media-breakpoint-up(lg) {
    --form-layout-gap: 16px;
  }

  &__layout {
    display: grid;
    grid-template-columns: 100%;
    gap: var(--form-layout-gap, 8px);
    margin: auto;
  }

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;
    display: grid;
    grid-template-columns: 100%;
    gap: 12px;
  }

  &__checkboxes {
    display: grid;
    grid-template-columns: 100%;
    gap: 6px;
  }

  &__error {
    color: #e74c3c;
    font-size: 0.875rem;
    margin: 4px 0 0;
  }

  &--layout-gap-lg {
    --form-layout-gap: 16px;

    @include media-breakpoint-up(lg) {
      --form-layout-gap: 32px;
    }
  }
}