.grid {
  --grid-cols-repeat: 1;
  --grid-col-size: minmax(0, 1fr);
  --grid--template-columns: repeat(var(--grid-cols-repeat),
      var(--grid-col-size));
  --grid-gap: 16px;

  @include media-breakpoint-up(md) {
    --grid-cols-repeat: 2;
  }

  @include media-breakpoint-up(lg) {
    --grid-cols-repeat: 3;
  }

  display: grid;
  grid-template-columns: var(--grid--template-columns);
  gap: var(--grid-gap);

  &__item {
    display: flex;
    height: 100%;
    width: 100%;
  }

  &--wrap {
    --grid-cols-repeat: auto-fit;
    --grid-col-size: minmax(250px, 1fr);
  }

  &--col {
    @include media-breakpoint-up(md) {
      --grid-cols-repeat: 1;
    }

    @include media-breakpoint-up(lg) {
      --grid-cols-repeat: 1;
    }
  }

  &--cols-primary {
    --grid-cols-repeat: auto-fit;
    --grid-col-size: 100px 1fr;

    @include media-breakpoint-up(md) {
      --grid-cols-repeat: 1;
    }

    @include media-breakpoint-up(lg) {
      --grid-cols-repeat: 1;
    }
  }

  &--gap-sm {
    --grid-gap: 8px;
  }

  &--gap-md {
    --grid-gap: 24px;
  }

  &--gap-lg {
    --grid-gap: 36px;
  }
}