.grid {
  --grid-cols: 1;

  @include media-breakpoint-up(md) {
    --grid-cols: 2;
  }

  @include media-breakpoint-up(lg) {
    --grid-cols: 3;
  }

  display: grid;
  grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
  gap: 16px;

  &__item {
    display: flex;
    height: 100%;
    background-color: gray;
  }

  &--buttons {
    --grid-cols: 4;

    background-color: tomato;
  }
}
