.header {
  --header-color: var(--c-bg-color-1);
  --header-bg-color: var(--c-bg-color-9);

  // menu
  --header-menu-bg-color: var(--c-bg-color-2);

  // nav
  --header-nav-bg-color: var(--c-bg-color-10);
  --header-nav-translate-x: 100%;

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10000;
  color: var(--header-color);
  padding-block: 12px;
  background-color: var(--header-bg-color);
  box-shadow: var(--c-shadow-3);

  @include media-breakpoint-up(lg) {
    padding-block: 20px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__burger {
    margin-left: auto;
    flex-shrink: 0;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__menu {
    position: fixed;
    top: calc(var(--header-height) * 1px);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: transparent;
    backdrop-filter: blur(10px);
    transition-property: visibility, opacity;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-timing-function;

    &._active {
      --header-nav-translate-x: 0;

      opacity: 1;
      visibility: visible;
    }

    @include media-breakpoint-up(lg) {
      position: static;
      inset: auto;
      opacity: 1;
      flex-grow: 1;
      flex-shrink: auto;
      width: fit-content;
      visibility: visible;
      justify-content: flex-end;
      background-color: transparent;
    }
  }

  &__nav {
    width: 100%;
    max-width: 396px;
    background-color: var(--header-nav-bg-color);
    height: 100%;
    border-radius: 24px 0 0 24px;
    transform: translateX(var(--header-nav-translate-x));
    transition-property: transform, visibility, opacity;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-timing-function;

    @include media-breakpoint-up(lg) {
      background-color: transparent;
      transform: none;
      max-width: none;
      border-radius: 0;
      height: auto;
    }
  }
}
