.header {
  --header-color: var(--c-bg-color-1);
  --header-bg-color: var(--c-bg-color-9);
  --header-menu-bg-color: var(--c-bg-color-2);
  --header-nav-bg-color: var(--c-bg-color-10);

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10000;
  color: var(--header-color);
  padding-block: 20px;
  background-color: var(--header-bg-color);
  box-shadow: var(--c-shadow-3);

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 44px;
    height: 44px;

    @include media-breakpoint-up(lg) {
      width: 62px;
      height: 62px;
    }
  }

  &__nav-control {
    margin-left: auto;
    flex-shrink: 0;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__menu {
    position: fixed;
    top: calc(var(--header-height) * 1px);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    z-index: 10;
    opacity: 0;
    flex-shrink: 0;
    cursor: pointer;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: transparent;
    backdrop-filter: blur(10px);
    transition-property: visibility, opacity;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-timing-function;

    &._active {
      opacity: 1;
      visibility: visible;

      .header__nav {
        transform: translateX(0);
      }
    }

    @include media-breakpoint-up(lg) {
      position: static;
      margin-left: auto;
      opacity: 1;
      width: fit-content;
      visibility: visible;
      justify-content: flex-end;
      background-color: transparent;
    }
  }

  &__nav {
    width: 100%;
    max-width: 396px;
    background-color: var(--header-nav-bg-color);
    height: 100%;
    border-radius: 24px 0 0 24px;
    transform: translateX(100%);
    transition-property: transform, visibility, opacity;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-timing-function;

    @include media-breakpoint-up(lg) {
      background-color: transparent;
      transform: none;
      max-width: none;
    }
  }
}
