.icon {
  --icon-rotate-angle: 0;

  display: inline-flex;
  fill: currentColor;
  flex-shrink: 0;
  transform: rotate(var(--icon-rotate-angle));
  transition-property: fill;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-timing-function;
}
