.layout {
  --layout-bg-color: var(--c-bg-color-9);
  --layout-color: var(--c-text-color-1);

  color: var(--layout-color);
  background-color: var(--layout-bg-color);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  min-height: 100dvh;
}
