.layout {
  --layout-bg-color: var(--c-bg-color-9);
  --layout-color: var(--c-text-color-1);

  position: relative;
  color: var(--layout-color);
  background-color: var(--layout-bg-color);

  &__grid {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
  }

  &__main {
  }
}
