.layout {
  --layout-bg-color: var(--c-bg-color-9);
  --layout-color: var(--c-text-color-1);

  color: var(--layout-color);
  background-color: var(--layout-bg-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  height: 100%;

  &__main {
    flex-grow: 1;
  }
}
