.modal {
  --modal-opacity: 0;
  --modal-z-index: 300;
  --modal-visibility: hidden;
  --modal-body-max-width: 100%;
  --modal-color: var(--c-text-color-10);

  position: fixed;
  inset: 0;
  visibility: var(--modal-visibility);
  opacity: var(--modal-opacity);
  z-index: var(--modal-z-index);
  color: var(--modal-color);

  &._opened {
    --modal-opacity: 1;
    --modal-visibility: visibility;
  }

  @include media-breakpoint-up(md) {
    --modal-body-max-width: 460px;
  }

  &__overlay {
    height: 100%;
    width: 100%;
  }

  // overlay colors, blurs
  &__panel {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;

    @include media-breakpoint-up(md) {
      padding: 40px;
    }
  }

  &__area {
    margin: auto;
  }

  &__body {
    width: 100%;
    max-width: var(--modal-body-max-width);
    height: 100%;
    background-color: white;
    padding: 32px;
    border-radius: 24px;

    @include media-breakpoint-up(md) {
      height: auto;
    }
  }
}