.nav {
  --nav-color: var(--c-bg-color-1);

  color: var(--nav-color);
  display: flex;
  justify-content: center;

  &__body {
    width: 100%;
    cursor: default;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 16px;

    @include media-breakpoint-up(lg) {
      width: fit-content;
      padding: 0;
      flex-direction: row;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-bottom: auto;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 0;
      gap: 16px;
    }
  }

  &__item {
    display: flex;
  }

  &__link {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 16px;
    flex-grow: 1;
    transition-property: opacity;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-timing-function;

    @include media-breakpoint-up(lg) {
      text-align: left;
      padding: 12px;
    }

    @include hover {
      opacity: 0.75;
    }
  }

  &__profile {
    display: flex;
    justify-content: center;
  }

  &__tel {
    padding: 12px;
    margin-top: 48px;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  &__tel-link {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__tel-icon {
    width: 24px;
    height: 24px;
  }

  &__tel-text {
    text-wrap: nowrap;
  }

  &__button {
    width: 100%;

    @include media-breakpoint-up(lg) {
      margin-left: 60px;
    }
  }
}
