.nav {
  --nav-color: var(--c-bg-color-1);

  color: var(--nav-color);
  display: flex;
  justify-content: center;

  @include media-breakpoint-up(xl) {
    justify-content: flex-end;
  }

  &__body {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;

    @include media-breakpoint-up(xl) {
      padding: 0;
      gap: 16px;
      overflow-y: visible;
      flex-direction: row;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-bottom: auto;

    @include media-breakpoint-up(xl) {
      flex-flow: row wrap;
      flex-shrink: 1;
      flex-grow: 1;
      margin-bottom: 0;
      column-gap: 16px;
      column-gap: 8px;
      padding-inline: 40px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__link {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 8px;
    padding: 16px;
    transition-property: opacity;
    transition-duration: $animation-speed;
    transition-timing-function: $animation-timing-function;

    @include media-breakpoint-up(xl) {
      align-items: center;
      padding: 12px;
    }

    @include hover {
      opacity: 0.75;
    }
  }

  &__icon {
    @include block-size(24px);
  }

  &__profile {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }
}
