.nav {
  --nav-color: var(--c-bg-color-1);

  color: var(--nav-color);
  display: flex;
  justify-content: center;

  &__body {
    width: 100%;
    cursor: default;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 16px;

    @include media-breakpoint-up(lg) {
      width: fit-content;
      padding: 0;
      flex-direction: row;
      align-items: center;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      flex-grow: 0;
    }
  }

  &__item {
    display: flex;
  }

  &__link {
    text-align: center;
    width: 100%;
    padding: 32px;
    transition-property: opacity;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-timing-function;

    @include media-breakpoint-up(lg) {
      text-align: left;
      padding: 8px 16px;
    }

    @include hover {
      opacity: 0.75;
    }
  }

  &__profile {
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 100%;

    @include media-breakpoint-up(lg) {
      margin-left: 60px;
    }
  }
}
