.news-card {
  --news-card-color: var(--c-text-color-5);
  --news-card-bg-color: var(--c-bg-color-1);
  --news-card-padding: clamp(10px, 6%, 24px);
  --news-card-shadow: var(--c-shadow-1);
  --news-card-hover-shadow: var(--c-shadow-2);
  --news-card-date-color: var(--c-text-color-2);
  --news-card-title-color: var(--c-text-color-8);
  --news-card-description-color: var(--c-text-color-8);

  color: var(--news-card-color);
  background-color: var(--news-card-bg-color);
  padding: var(--news-card-padding);
  border-radius: 24px;

  cursor: pointer;
  box-shadow: var(--news-card-shadow);
  transition: box-shadow 0.3s ease;

  @include hover {
    box-shadow: var(--news-card-hover-shadow);
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__img {
    border-radius: 12px;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: cover;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    @include font(22px, 28px, 700);
    color: var(--news-card-title-color);
  }

  &__description {
    @include font(16px, 24px);

    color: var(--news-card-description-color);
  }

  &__date {
    color: var(--news-card-date-color);
  }
}
