.page {
  --page-scrollbar-width: 0px;

  width: 100%;
  height: 100%;

  @include media-breakpoint-up(lg) {
    padding-right: var(--page-scrollbar-width);
  }

  &._locked {
    overflow: hidden;
    touch-action: none; // блокируем touch-жесты
    -ms-touch-action: none;

    // Для фиксации позиции на iOS
    position: relative;
    height: 100vh;

    // Предотвращаем bounce-эффект на iOS
    overscroll-behavior: none;
  }
}
