.page {
  width: 100%;
  height: 100%;

  &._locked {
    position: fixed;
    top: var(--layout-top, 0); // сохраняем позицию скролла
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; // блокируем скролл

    // Для iOS Safari
    -webkit-overflow-scrolling: touch;
  }
}
