.section {
  --section-bg-color: var(--c-bg-color-9);
  --c-section-padding-block: 40px;

  padding-block: var(--c-section-padding-block);
  // box-shadow: 0px 5px 30px 0px rgb(0, 0, 0, 0.1) inset;

  @include media-breakpoint-up(lg) {
    --c-section-padding-block: 60px;
  }

  &__top {
    display: flex;
    margin-bottom: 24px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 48px;
    }
  }

  &__title {
    @include font(24px, 24px, 700, $basic-family);

    transition-property: font-size;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-timing-function;

    @include media-breakpoint-up(lg) {
      @include font(34px, 34px, 700, $basic-family);
    }

    @include media-breakpoint-up(xl) {
      @include font(56px, 56px, 700, $basic-family);
    }
  }

  &__options {
    margin-left: auto;
    padding-left: 20px;
  }

  &__controlls {
    display: flex;
    gap: 8px;
  }
}
