.section {
  --section-bg-color: var(--c-bg-color-9);
  --section-padding-block: var(--c-section-offset-block);
  --section-container-max-width: 1296px;

  padding-block: var(--c-section-offset-block);

  &__container {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    margin: 0 auto;
    padding-inline: var(--c-container-offset-inline);
    max-width: var(--section-container-max-width);

    @include media-breakpoint-up(xl) {
      gap: 28px;
    }
  }

  &__top {
    display: flex;
    align-items: center;

    @include media-breakpoint-up(xl) {
      align-items: flex-start;
    }
  }

  &__options {
    margin-left: auto;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__body {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }
}