.section {
  --section-bg-color: var(--c-bg-color-9);
  --section-padding-block: 40px;

  padding-block: var(--c-section-padding-block);

  @include media-breakpoint-up(lg) {
    --section-padding-block: 60px;
  }

  &__top {
    display: flex;
    margin-bottom: 24px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 32px;
    }
  }

  &__options {
    margin-left: auto;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
