.slider {
height: 100%;
  &__item {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    min-height: 100%;
  }

  &--wide-before-xl {
    --slider-wide-inline-offset: var(--c-container-offset-inline);

    margin-inline: calc(var(--slider-wide-inline-offset) * -1);
    scroll-padding: var(--slider-wide-inline-offset);
    padding-inline: var(--slider-wide-inline-offset);

    @include media-breakpoint-up(xl) {
      margin-inline: 0;
      scroll-padding: 0;
      padding-inline: 0;
    }
  }
}
