.tile {
  --tile-bg-color: var(--c-bg-color-1);
  --tile-title-color: var(--c-text-color-10);
  --tile-description-color: var(--c-text-color-10);

  display: inline-flex;
  width: 100%;
  height: 100%;

  &__container {
    display: flex;
    gap: 8px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: var(--tile-bg-color);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @include media-breakpoint-up(lg) {
      padding: 24px;
    }
  }

  &__title {
    color: var(--tile-title-color);
  }

  &__description {
    color: var(--tile-description-color);
    text-wrap: pretty;
  }
}