// open sans
@font-face {
  font-family: "Open-Sans";
  src: url("/surgeon-website/fonts/open-sans/open-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans";
  src: url("/surgeon-website/fonts/open-sans/open-sans-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans";
  src: url("/surgeon-website/fonts/open-sans/open-sans-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// montserrat
@font-face {
  font-family: "Montserrat";
  src: url("/surgeon-website/fonts/montserrat/montserrat-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/surgeon-website/fonts/montserrat/montserrat-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/surgeon-website/fonts/montserrat/montserrat-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
