@import "../mixins/mixins";
// Breakpoints
$xs: 480px;
$sm: 680px;
$md: 768px;
$lg: 992px;
$xl: 1240px;
$xxl: 1420px;

$basic-family: "Montserrat", sans-serif;
$secondary-family: "Open-Sans", sans-serif;

$animation-speed: 0.3s;
$animation-timing-function: ease;

:root {
  --header-height: 0px;

  --c-accent-color: #f59e0b;
  --c-success-color: #10b981;
  --c-error-color: #ef4444;
  --c-warning-color: #f59e0b;


  --c-dark-color: #384f68;
  --c-light-color: #fff;

  // Text colors
  --c-text-color-1: var(--c-light-color);
  --c-text-color-2: #96a2c7;
  --c-text-color-3: #00abeb;
  --c-text-color-4: #435e96;
  --c-text-color-5: #0b2f7c;
  --c-text-color-6: #000000;
  --c-text-color-7: #00715d;
  --c-text-color-8: #101828;
  --c-text-color-9: #3b82f6;
  --c-text-color-10: var(--c-dark-color);

  // Background colors
  --c-bg-color-1: var(--c-light-color);
  --c-bg-color-2: #f9fafd;
  --c-bg-color-3: #00abeb;
  --c-bg-color-4: #0b2f7c;
  --c-bg-color-5: #e9e8e5;
  --c-bg-color-6: #435e96;
  --c-bg-color-7: #00715d;
  --c-bg-color-8: #3b82f6;
  --c-bg-color-9: var(--c-dark-color);
  --c-bg-color-10: #293c51;
  --c-bg-color-11: #000;

  // Border colors
  --c-border-color-1: #fafbff;
  --c-border-color-2: #f2f4fa;
  --c-border-color-3: #dee2e6;
  --c-border-color-4: #00abeb;
  --c-border-color-5: #0b2f7c;
  --c-border-color-6: #00715d;
  --c-border-color-7: #3b82f6;
  --c-border-color-8: var(--c-dark-color);
  --c-border-color-9: var(--c-light-color);

  // Shadows
  --c-shadow-1: 0 8px 20px #d0d0d012;
  --c-shadow-2: 0 4px 10px rgba(0, 0, 0, 0.1);
  --c-shadow-3: 0 4px 12px rgba(0, 0, 0, 0.15);
  --c-shadow-4: 0 2px 6px rgba(0, 0, 0, 0.1);

  --c-gradient-1: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --c-gradient-2: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
  --c-gradient-3: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  --c-gradient-4: linear-gradient(135deg, #43e97b 0%, #38f9d7 100%);
  --c-gradient-5: linear-gradient(
    135deg,
    #ff9a9e 0%,
    #fecfef 20%,
    #fecfef 40%,
    #a1c4fd 60%,
    #c2e9fb 80%,
    #ff9a9e 100%
  );
  --c-gradient-6: linear-gradient(262deg, #000 23.31%, #00715d 101.07%);

  --c-section-padding-block: 40px;
  --c-container-padding-inline: 16px;

  @include media-breakpoint-up(lg) {
    --c-section-padding-block: 60px;
    --c-container-padding-inline: 40px;
  }
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }
