// core
@import "../scss/global/reset";
@import "../scss/global/fonts";
@import "../scss/global/variables";

// base
@import "./blocks/page";
@import "./blocks/layout";
@import "./blocks/section";
@import "./blocks/text";
@import "./blocks/footer";

// swiper
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

// ui
@import "./blocks/cms";
@import "./blocks/tile";
@import "./blocks/button";
@import "./blocks/progress";
@import "./blocks/logo";
@import "./blocks/icon";
@import "./blocks/review-from";
@import "./blocks/slider";
@import "./blocks/grid";
@import "./blocks/decorated-bg";
@import "./blocks/field";
@import "./blocks/content-card";
@import "./blocks/form";
@import "./blocks/checkbox";
@import "./blocks/list";
@import "./blocks/day";
@import "./blocks/modal";

// pages
@import "./blocks/profile";
@import "./blocks/specialists";
@import "./blocks/error-page";
@import "./blocks/ui-kit";

// components
@import "./blocks/header";
@import "./blocks/auth";
@import "./blocks/hero";
@import "./blocks/banner";
@import "./blocks/news";
@import "./blocks/article";
@import "./blocks/reviews";
@import "./blocks/faq";
@import "./blocks/burger";
@import "./blocks/nav";
@import "./blocks/review";
@import "./blocks/about";