// core
@import "../scss/global/reset";
@import "../scss/global/fonts";
@import "../scss/global/variables";

// grid
@import "./blocks/page";
@import "./blocks/layout";
@import "./blocks/section";
@import "./blocks/container";
@import "./blocks/text";

// swiper
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

// ui
@import "./blocks/cms-content";
@import "./blocks/button";
@import "./blocks/review-from";
@import "./blocks/text-gradient";
@import "./blocks/slider";
@import "./blocks/burger";
@import "./blocks/nav";
@import "./blocks/grid";
@import "./blocks/content-card";
@import "./blocks/icon";
@import "./blocks/review";
@import "./blocks/auth-form";
@import "./blocks/decorated-bg";
@import "./blocks/form-field";
@import "./blocks/error-page";

// pages
@import "./blocks/auth-page";
@import "./blocks/profile";
@import "./blocks/specialists";
@import "./blocks/about";
@import "./blocks/ui-kit";

// sections
@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/news";
@import "./blocks/article";
@import "./blocks/reviews";
@import "./blocks/faq";
@import "./blocks/footer";
